<div class="container mt-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-8">
            <form id="regForm">
                <h1 id="register">Sevir</h1>
                <div class="all-steps" id="all-steps"> 
                    <span class="step"><i class="fa fa-map-marker"></i></span> 
                    <span class="step"><i class="fa fa-smile-o"></i></span> 
                    <span class="step"><i class="fa fa-child"></i></span> 
                    <span class="step"><i class="fa fa-clock-o"></i></span> 
                 </div>
                <div class="tab" [hidden]="currentStep !== 0">
                    <h6>{{ 'survey.whereTo.question' | translate }}</h6>
                    <p> <input #mapSearchField placeholder="{{ 'survey.whereTo.placeholder' | translate }}" (change) = "clearLocation()" [ngClass]="{input_error: stepsErrors[currentStep]}"></p>
                </div>
                <div class="multicheck" [hidden]="currentStep !== 1">
                    <h6>{{ 'survey.interestIn.question' | translate }}</h6>

                    <div class="container">
                        <ul class="checkerList">
                            <li *ngFor = "let interest_thing of interest_things; let i = index;">
                              
                                <input type="checkbox" 
                                    (change)="addThing(interest_thing)"
                                    id="{{'checkbox' + i}}" 
                                    value={{interest_thing}}>
                                <label for="{{'checkbox' + i}}">
                                    {{ 'survey.interestIn.interests.' + interest_thing | translate }}
                                    </label>
                            
                            </li>
                        </ul>
                      
                      </div>


                </div>
                <div class="tab" [hidden]="currentStep !== 2">
                    <h6>{{ 'survey.anyChild.question' | translate }}</h6>
                    <div class="yesNOSection">
                    <button (click)="setAnyKids(true)"><i class="fa fa-thumbs-up"></i> 
                        <div>{{ 'survey.anyChild.response.yes' | translate }}</div></button> 
                    <button (click)="setAnyKids(false)"><i class="fa fa-thumbs-down"></i>
                        <div>{{ 'survey.anyChild.response.no' | translate }}</div></button> 
                    </div>
                </div>
                <div class="tab" [hidden]="currentStep !== 3">
                    <h6>{{ 'survey.time.question' | translate }}</h6>
                    <div class="sliderSection">
                        <h2>{{search.time}} {{ 'survey.time.unit' | translate }}</h2>
                        <mat-slider class = "time_slider" min="1" max="12" step="1" [value]="search.time" thumbLabel aria-label="units" (change)="updateSlider($event)"></mat-slider>
                
                        <button id="submit" (click) = "submitSearch()">Submit</button> 
                    </div>
                </div>
                <div style="overflow:auto;" id="nextprevious">
                    <div style="float:right;"> 
                        <button [disabled] = "currentStep === 0" [ngClass]="{invalid_action: currentStep === 0}" type="button" id="prevBtn" (click)="nextPrevAction(-1)"><i class="fa fa-angle-double-left"></i></button> 
                        <button [disabled] = "currentStep >= stepsCompleted.length - 1" [ngClass]="{invalid_action: currentStep >= stepsCompleted.length - 1}" type="button" id="nextBtn" (click)="nextPrevAction(1)"><i class="fa fa-angle-double-right"></i></button> 
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
