<div class="container">
  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
    
    <agm-direction 
      [origin]="origin" 
      [destination]="destination"
      [waypoints] = "waypoints"
      >
    </agm-direction>>    

    <agm-marker *ngFor="let suggestion of suggestions" 
    [latitude]="suggestion.latitude" 
    [longitude]="suggestion.longitude"
    >
        
      <agm-info-window [disableAutoPan]="false" #infoWindow>
        <h5>{{suggestion.details.placeLabel && !suggestion.details.placeLabel.startsWith('Q') ? suggestion.details.placeLabel : this.getPlaceNameByLanguage(suggestion)}}</h5>
          <h6>{{suggestion.details.placeDescription ? suggestion.details.placeDescription : ""}} </h6>
          <h6>{{suggestion.details.address ? suggestion.details.address : ""}} </h6>
          <a href = "{{suggestion.details.wikidataURL}}" *ngIf="suggestion.details.wikidataURL">wikidataURL</a>
          <br><img src ="{{suggestion.details.image}}" width = "300px" *ngIf="suggestion.details.image"/>

    </agm-info-window>
    </agm-marker>

  </agm-map>


  <script>
    sharon();
  </script>

<div class="shareon" data-url="https://lh3.googleusercontent.com/pw/AM-JKLVgtpBla_TnE8qCD2xbkoCc72G-8Ov_und2JafBmmrjVWxu8EjHI63FBVO_5R2mNPRhDRYrbYzD6g_L2FGATFSb2eZq8lm7-haTynl7JgffGujs2_7231wqFtYZkzS6y2T7OwvywF6uXZgsi8XjaPsatA=w562-h550-no?authuser=0">
  <a class="facebook" data-text= "Hello" data-title="just got a new trip to ">facebook</a>
  <a class="pinterest" data-media="https://lh3.googleusercontent.com/pw/AM-JKLVgtpBla_TnE8qCD2xbkoCc72G-8Ov_und2JafBmmrjVWxu8EjHI63FBVO_5R2mNPRhDRYrbYzD6g_L2FGATFSb2eZq8lm7-haTynl7JgffGujs2_7231wqFtYZkzS6y2T7OwvywF6uXZgsi8XjaPsatA=w562-h550-no?authuser=0">
    Pinterest</a>
</div>
</div>