<div class="container">
  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"></agm-marker>
    
    <agm-direction 
      [origin]="origin" 
      [destination]="destination"
      [waypoints] = "waypoints"
      [renderOptions]="renderOptions"
      [markerOptions]="markerOptions"
      [optimizeWaypoints]="false">
    </agm-direction>>    


     <!-- <agm-marker [latitude]="47.155182" [longitude]="27.587311" [label]="{color: 'blue', text: 'start'}"></agm-marker>
     <agm-marker [latitude]="47.16484" [longitude]="27.589402" [label]="{color: 'blue', text: '1'}"></agm-marker>
     <agm-marker [latitude]="47.16690826416" [longitude]="27.584230422974" [label]="{color: 'blue', text: '2'}"></agm-marker>
     <agm-marker [latitude]="47.17343" [longitude]="27.580547" [label]="{color: 'blue', text: '3'}"></agm-marker>
     <agm-marker [latitude]="47.1631628" [longitude]="27.5602447" [label]="{color: 'blue', text: '4'}"></agm-marker>
     <agm-marker [latitude]="47.17345" [longitude]="27.565" [label]="{color: 'blue', text: 'finish'}"></agm-marker> -->



  </agm-map>


  <!-- <h5>Address: {{address}}</h5>
  <div>Latitude: {{latitude}}</div>
  <div>Longitude: {{longitude}}</div> -->

</div>